.box {
  background-color: rgb(160, 160, 229);
  padding: 20px;
  border-radius: 15px;
}

.gameInstructions {
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  font-size: 15px;
  text-align: center;
  margin: 20px 0;
}

.me {
  background-color: rgb(83, 212, 83);
}

.game-score {
  color: white;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.1em;
}

.game-status-bar {
  color: white;
  text-align: center;
  font-family: cursive;
  margin: 10px 0;
  font-size: 1.1em;
}

.color-box {
  border: 3px solid white;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 30px 0 10px ;
  font-family: bold;
  font-size: 1.5em;
  height: 150px;
}

.color-options {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin-bottom: 30px;
}

.color-option {
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-option button {
  width: 100%;
  padding: 20px;
  border: 3px solid white;
  cursor: pointer;
}

.color-option button:hover {
  padding: 15px;
}

.new-game {
  text-align: center;
  margin: 20px 0;
}

.new-game button {
  width: 100%;
  padding: 10px;
  background-color: black;
  color: white;
}